window {
    margin: 5px;
    border: 2px solid white;
    background-color: rgba(33,33,33,0.4);
}

#input {
    margin: 5px;
    background: transparent;
    color: white;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
    border: 2px transparent;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
    color: white;
}

#entry:selected {
    background-color: rgba(0,0,0,0);
}

#text:selected {
    text-decoration: underline;
    text-decoration-color: white;
}
