[submodule "things/vim/config/pack/external/opt/base16-vim"]
	path = things/vim/config/pack/external/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "deps/github.com/chriskempson/base16-shell"]
	path = deps/github.com/chriskempson/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "things/vim/config/pack/external/opt/vim-signify"]
	path = things/vim/config/pack/external/opt/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "things/vim/config/pack/external/opt/rust.vim"]
	path = things/vim/config/pack/external/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "things/vim/config/pack/external/opt/dart-vim-plugin"]
	path = things/vim/config/pack/external/opt/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin
[submodule "things/vim/config/pack/external/opt/vim-terraform"]
	path = things/vim/config/pack/external/opt/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "things/vim/config/pack/external/opt/nvim-lspconfig"]
	path = things/vim/config/pack/external/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "things/vim/config/pack/external/opt/rust-tools.nvim"]
	path = things/vim/config/pack/external/opt/rust-tools.nvim
	url = https://github.com/simrat39/rust-tools.nvim.git
[submodule "things/vim/config/pack/external/opt/copilot.vim"]
	path = things/vim/config/pack/external/opt/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "things/vim/config/pack/external/opt/obsidian.nvim"]
	path = things/vim/config/pack/external/opt/obsidian.nvim
	url = https://github.com/epwalsh/obsidian.nvim.git
[submodule "things/vim/config/pack/external/opt/plenary.nvim"]
	path = things/vim/config/pack/external/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "things/vim/config/pack/external/opt/telescope.nvim"]
	path = things/vim/config/pack/external/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "things/vim/config/pack/external/opt/nvim-cmp"]
	path = things/vim/config/pack/external/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "things/vim/config/pack/external/opt/cmp-nvim-lsp"]
	path = things/vim/config/pack/external/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "things/vim/config/pack/external/opt/cmp-vsnip"]
	path = things/vim/config/pack/external/opt/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip.git
[submodule "things/vim/config/pack/external/opt/vim-vsnip"]
	path = things/vim/config/pack/external/opt/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "things/vim/config/pack/external/opt/zen-mode.nvim"]
	path = things/vim/config/pack/external/opt/zen-mode.nvim
	url = https://github.com/folke/zen-mode.nvim.git
