[submodule "things/vim/config/pack/external/opt/base16-vim"]
	path = things/vim/config/pack/external/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "deps/github.com/chriskempson/base16-shell"]
	path = deps/github.com/chriskempson/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "things/vim/config/pack/external/opt/vim-signify"]
	path = things/vim/config/pack/external/opt/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "things/vim/config/pack/external/opt/rust.vim"]
	path = things/vim/config/pack/external/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "things/vim/config/pack/external/opt/deoplete-lsp"]
	path = things/vim/config/pack/external/opt/deoplete-lsp
	url = https://github.com/Shougo/deoplete-lsp.git
[submodule "things/vim/config/pack/external/opt/deoplete.nvim"]
	path = things/vim/config/pack/external/opt/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "things/vim/config/pack/external/opt/dart-vim-plugin"]
	path = things/vim/config/pack/external/opt/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin
[submodule "things/vim/config/pack/external/opt/vim-terraform"]
	path = things/vim/config/pack/external/opt/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "things/vim/config/pack/external/opt/nvim-lspconfig"]
	path = things/vim/config/pack/external/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "things/vim/config/pack/external/opt/rust-tools.nvim"]
	path = things/vim/config/pack/external/opt/rust-tools.nvim
	url = https://github.com/simrat39/rust-tools.nvim.git
[submodule "things/vim/config/pack/external/opt/copilot.vim"]
	path = things/vim/config/pack/external/opt/copilot.vim
	url = https://github.com/github/copilot.vim.git
